body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
body h1 {
  color: #888;
}
body li {
  list-style-type: none;
}

header {
  background: url(..//img/main_BG_V2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 65vh;
  width: 100%;
}
@media only screen and (max-width: 427px) {
  header {
    height: 100vh;
  }
}
header .navbar-collapse {
  float: right !important;
  text-align: center;
}
header .navbar-collapse a {
  color: white !important;
  font-weight: 300;
  font-size: 21px;
  transition: 0.5s;
}
header .navbar-collapse a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 991px) {
  header .navbar-collapse a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 769px) {
  header .navbar-collapse a {
    font-size: 25px;
  }
}
@media only screen and (max-width: 427px) {
  header .navbar-collapse a {
    font-size: 20px;
  }
}
header .navbar-collapse .navbar-nav {
  margin-left: auto;
}
header .socialNetwork {
  position: absolute;
  right: 5%;
  top: 20%;
}
header .socialNetwork li {
  list-style-type: none;
}
header .socialNetwork img {
  width: 50px;
  border-radius: 1000px;
  margin-bottom: 10px;
  opacity: 50%;
  transition: 0.5s;
}
@media only screen and (max-width: 427px) {
  header .socialNetwork img {
    width: 35px;
  }
}
header .socialNetwork img:hover {
  opacity: 100%;
}

section {
  background: url(..//img/background.png) no-repeat center center fixed;
  padding: 3vw 0;
}
@media only screen and (min-width: 1920px) {
  section {
    background-size: 100% 100%;
  }
}
section .info-block {
  background: #fff;
  padding: 5vw;
  width: 90vw;
  font-weight: 500;
  margin: 0 auto;
  max-width: 1900px;
  font-size: 25px;
}
@media only screen and (max-width: 769px) {
  section .info-block {
    font-size: 20px;
  }
}
@media only screen and (max-width: 427px) {
  section .info-block {
    font-size: 15px;
  }
}
section .info-block h1 {
  font-size: 60px;
}
@media only screen and (max-width: 769px) {
  section .info-block h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 427px) {
  section .info-block h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 770px) {
  section .info-block .about-block__img-even {
    width: 30vw;
    float: right;
    margin-left: 3vw;
  }
  section .info-block .about-block__img-noteven {
    width: 30vw;
    float: left;
    margin-right: 3vw;
  }
}
@media only screen and (max-width: 769px) {
  section .info-block__about-block {
    display: flex;
    flex-direction: column;
  }
  section .info-block__about-block img {
    width: 100%;
  }
}

footer {
  background-color: #c4c4c4;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  padding: 40px;
}
@media only screen and (max-width: 769px) {
  footer {
    font-size: 20px;
  }
}
@media only screen and (max-width: 427px) {
  footer {
    font-size: 12px;
    padding: 20px;
  }
}