body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

header {
  background: url(..//img/main_BG.png) no-repeat center center fixed;
  height: 60vh;
}
@media only screen and (min-width: 1920px) {
  header {
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 427px) {
  header {
    height: 100vh;
  }
}
header .navbar-collapse {
  float: right !important;
  text-align: center;
}
header .navbar-collapse a {
  color: white !important;
  font-weight: 300;
  font-size: 21px;
  transition: 0.5s;
}
header .navbar-collapse a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 991px) {
  header .navbar-collapse a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 769px) {
  header .navbar-collapse a {
    font-size: 25px;
  }
}
@media only screen and (max-width: 427px) {
  header .navbar-collapse a {
    font-size: 20px;
  }
}
header .navbar-collapse .navbar-nav {
  margin-left: auto;
}
header .socialNetwork {
  position: absolute;
  right: 5%;
  top: 20%;
}
header .socialNetwork li {
  list-style-type: none;
}
header .socialNetwork img {
  width: 60px;
  border-radius: 1000px;
  margin-bottom: 10px;
  transition: 0.5s;
}
header .socialNetwork img:hover {
  width: 70px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

section {
  background: url(..//img/background.png) no-repeat center center fixed;
  padding: 3vw 0;
}
@media only screen and (min-width: 1920px) {
  section {
    background-size: 100% 100%;
  }
}
section .start-block {
  background: #fff;
  padding: 5vw;
  width: 90vw;
  font-weight: 500;
  margin: 0 auto;
  max-width: 1900px;
  min-height: 40vw;
  font-size: 25px;
}
@media only screen and (max-width: 769px) {
  section .start-block {
    font-size: 15px;
  }
}
@media only screen and (max-width: 427px) {
  section .start-block {
    font-size: 13px;
  }
}
section .start-block h1 {
  font-size: 60px;
}
@media only screen and (max-width: 769px) {
  section .start-block h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 427px) {
  section .start-block h1 {
    font-size: 30px;
  }
  section .start-block h1 .table-duration {
    display: none;
    color: green;
  }
}
@media only screen and (max-width: 427px) {
  section .start-block .table .table-duration {
    color: green;
    display: none;
  }
}
section .start-block .table thead {
  background-color: #efefef;
}
section .start-block .navbar-nav {
  display: block;
  margin: 0 auto;
}
section .start-block .nav-item {
  border-bottom: 2px solid #888;
}
section .start-block .nav-item p {
  font-size: 25px;
}
@media only screen and (max-width: 769px) {
  section .start-block .nav-item p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 427px) {
  section .start-block .nav-item p {
    font-size: 15px;
  }
}
section .start-block .nav-item .nav-item__block {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 769px) {
  section .start-block .nav-item .nav-item__block {
    flex-direction: column;
  }
}
section .start-block .nav-item .nav-item__img {
  width: 10vw;
  height: 10vw;
  min-width: 150px;
  min-height: 150px;
  margin-right: 1vw;
}
@media only screen and (max-width: 769px) {
  section .start-block .nav-item .nav-item__img {
    width: 75vw;
    margin: 0 auto;
  }
}

footer {
  background-color: #c4c4c4;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  padding: 40px;
}
@media only screen and (max-width: 769px) {
  footer {
    font-size: 20px;
  }
}
@media only screen and (max-width: 427px) {
  footer {
    font-size: 12px;
    padding: 20px;
  }
}