@import "header-2-version.sass"

section
    background: url(..//img/background.png)  no-repeat center center fixed
    padding: 3vw 0
    @media only screen and (min-width: 1920px)
        background-size: 100% 100%
    .start-block
        background: #fff
        padding: 5vw
        width: 90vw
        font-weight: 500
        margin: 0 auto
        max-width: 1900px
        min-height: 40vw
        font-size: 25px
        @media only screen and (max-width: 769px)
            font-size: 15px
        @media only screen and (max-width: 427px)
            font-size: 13px
        h1
            font-size: 60px
            @media only screen and (max-width: 769px)
                font-size: 40px
            @media only screen and (max-width: 427px)
                font-size: 30px
                .table-duration
                    display: none
                    color: green
        .table
            .table-duration
                @media only screen and (max-width: 427px)
                    color: green
                    display: none
            thead
                background-color: #efefef
        
@import "footer.sass"